{{#partial "contenido"}}

<form action="/consumo/obtener" method="GET">
<div class="container tools-padding">
	<div class="card-deck mb-2 text-center">
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Fecha inicio</h4>
			</div>
			<div class="card-body">
				<div style="border:3px;padding-left:30px;padding-top:10px;">
					<input type="text" name="fechaInicio" placeholder="DD-MM-AAAA" required/>
				</div>
			</div>
		</div>
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Fecha fin</h4>
			</div>
			<div class="card-body">
				<div style="border:3px;padding-left:30px;padding-top:10px;">					
					<input type="text" name="fechaFin" placeholder="DD-MM-AAAA" required/>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="border:3px;padding-left:30px;padding-top:100px;">
		<button type="submit" class="btn btn-lg btn-block btn-primary">Obtener Consumo</button>
</div>
</form>

{{/partial}}

{{>layout.hbs}}