
{{#partial "contenido"}}

<div class="container tools-padding">
	<div class="card-deck mb-2 text-center">
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Fecha inicio</h4>
			</div>
			<div class="card-body">
				<div style="border:3px;padding-left:30px;padding-top:10px;">
					<form action="/action_page.php">									  
						<input type="date" name="fechaInicio">
					</form>
				</div>
			</div>
		</div>
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Fecha fin</h4>
			</div>
			<div class="card-body">
				<div style="border:3px;padding-left:30px;padding-top:10px;">
					<form action="/action_page.php">									  
						<input type="date" name="fechaFin">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h6 class="error">Por favor, ingrese una fecha válida</h6>
	</div>
</div>


<div style="border:3px;padding-left:30px;padding-top:100px;">
	<form action="/consumo/obtener" method="GET">
		<button type="submit" class="btn btn-lg btn-block btn-primary">Obtener Consumo</button>
	</form>
</div>

{{/partial}}

{{>layout.hbs}}