{{#partial "contenido"}}

<div class="container tools-padding">
	<form action="/consumo/obtener" method="GET">
	<h4>{{mensaje}} {{periodo}} {{consumo}}</h4>
	<h3>Ingrese un período para obtener el consumo</h3>
	<div class="card-deck mb-2 text-center">		
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Fecha inicio</h4>
			</div>
			<div class="card-body">
				<div style="border:3px;padding-left:30px;padding-top:10px;">
					<input type="date" name="fechaInicio" value="fechaInicio">
				</div>
			</div>
		</div>
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Fecha fin</h4>
			</div>
			<div class="card-body">
				<div style="border:3px;padding-left:30px;padding-top:10px;">
					<input type="date" name="fechaFin" value="fechaFin">
				</div>
			</div>
		</div>
	</div>
	<div style="border:3px;padding-left:30px;padding-top:100px;">
		<button type="submit" class="btn btn-lg btn-block btn-primary">Obtener Consumo</button>
	</form>
</div>
	
</div>


{{/partial}}

{{>layout.hbs}}