{{#partial "extraPorTipo"}}
<div class="mb-3">
	<label for="uso">Uso estimado diario</label>
	<input type="text" class="form-control" name="uso" placeholder="11" required="">
	<div class="invalid-feedback">
		Ingrese un número de uso válido.
	</div>
</div>
{{/partial}}

{{> crear.hbs}}
