{{#partial "action"}}

<form action="/dispositivos/{{this.id}}/edit" method="GET">
	<button type="submit" class="btn btn-lg btn-block btn-primary">Editar dispositivo</button>
</form>

{{/partial}}

{{> ficha-tecnica.hbs}}