<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div class="my-0 mr-md-auto font-weight-normal">
    <a href="/">
      <img src="/resources/imgs/logo.png" class="sge-logo" alt="SGE">
    </a>  
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
    <div class="row">
      <div class="p-2 text-dark">
        <a href="/solicitudes" method="GET">
          <img src="/resources/imgs/{{mail-icon}}" alt="Solicitudes" class="p-2 hogar-button">
        </a>
      </div>
      <div class="p-2 text-dark">
        <a href="/hogar">
          <img src="/resources/imgs/casa.png" alt="Mi Hogar" class="p-2 hogar-button">
        </a>
      </div>
      <!-- Default dropleft button -->
      <div class="btn-group dropleft cursor">
        <span class="p-2 text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/resources/imgs/user.png" alt="Perfil de {{username}}" class="p-2 user-button">
        </span>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/me/profile"><i class="fas fa-user"></i>     Perfil</a>
          <a class="dropdown-item" href="/me/settings"><i class="fas fa-cog"></i>     Configuración</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>    Cerrar sesión</a>
        </div>
      </div>
    </div>
  </nav>
</div>