{{#partial "orders"}}
{{/partial}}

{{#partial "action"}}
{{/partial}}

{{#partial "volver"}}
<div align="left">
	<form action="/hogares" method="GET">
		<button type="submit" class="btn btn--radius-2 btn--red">Volver</button>
	</form>
</div>
{{/partial}}

{{>hogar.hbs}}