{{#partial "orders"}}
<div class="row">
	<div class="col-md-4">
		<form action="/me/dispositivos/{{this.id}}/save" method="POST">
			<button type="submit" class="btn btn-sm btn-outline-secondary">Ahorro</button>
		</form>
	</div>
	<div class="col-md-4">
		<form action="/me/dispositivos/{{this.id}}/on" method="POST">
			<button type="submit" class="btn btn-sm btn-outline-secondary">Encender</button>
		</form>
	</div>
	<div class="col-md-4">
		<form action="/me/dispositivos/{{this.id}}/off" method="POST">
			<button type="submit" class="btn btn-sm btn-outline-secondary">Apagar</button>
		</form>
	</div>
</div>
{{/partial}}

{{#partial "action"}}
<form action="/dispositivos" method="GET">
	<button type="submit" class="btn btn-lg btn-block btn-primary">Adquirir un dispositivo</button>
</form>
{{/partial}}

{{#partial "volver"}}
<div align="left">
	<form action="/" method="GET">
		<button type="submit" class="btn btn--radius-2 btn--red">Volver</button>
	</form>
</div>
{{/partial}}

{{>hogar.hbs}}