{{#partial "contenido"}}

<div class="container tools-padding">
	<div class="row text-center">
		<div class="col-sm">
			<h3 class="my-0 font-weight-normal">Solicitudes pendientes</h3>
			{{#pendientes}}
			{{#block "solicitudesPendientes"}}
			{{/block}}
			{{/pendientes}}
		</div>
		<div class="col-sm">
			<h3 class="my-0 font-weight-normal">Solicitudes resueltas</h3>
			{{#cerradas}}
			{{#block "solicitudesCerradas"}}
			{{/block}}
			{{/cerradas}}
		</div>
	</div>

</div>

{{/partial}}

{{>layout.hbs}}

