{{#partial "contenido"}}

<main role="main"
>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Aire acondicionado</h5>
            <h6>3500 frigorías</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 1.613</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Aire acondicionado</h5>
            <h6>2200 frigorías</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 1.013</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Televisor</h5>
            <h6>Color de tubo fluorescente de 21"</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.075</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Televisor</h5>
            <h6>Color de tubo fluorescente de 29"</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.175</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Televisor</h5>
            <h6>Color de tubo fluorescente de 34"</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.175</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Televisor</h5>
            <h6>LCD de 40"</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.18</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Televisor</h5>
            <h6>LED de 24"</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.04</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Televisor</h5>
            <h6>LED de 32"</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.055</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Televisor</h5>
            <h6>LED de 40"</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.08</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Heladera</h5>
            <h6>Con freezer</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.09</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Heladera</h5>
            <h6>Sin freezer</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.075</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lavarropas</h5>
            <h6>Automático, 5kg, con calentamiento de agua</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.875</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lavarropas</h5>
            <h6>Automático, 5kg</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.175</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lavarropas</h5>
            <h6>Semiautomático, 5kg</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.1275</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Ventilador</h5>
            <h6>De pie</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.09</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Ventilador</h5>
            <h6>De techo</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.06</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lámpara</h5>
            <h6>Halógena de 40 W</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.04</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lámpara</h5>
            <h6>Halógena de 60 W</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.06</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lámpara</h5>
            <h6>Halógena de 100 W</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: no</li>
              <li>Consumo (kWh): 0.015</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lámpara</h5>
            <h6>De 11 W</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.011</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lámpara</h5>
            <h6>De 15 W</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.015</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Lámpara</h5>
            <h6>De 20 W</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.02</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>PC</h5>
            <h6>De escritorio</h6>
            <ul>
              <li>Inteligente: sí</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.4</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Microondas</h5>
            <h6>Convencional</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.64</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5>Plancha</h5>
            <h6>A vapor</h6>
            <ul>
              <li>Inteligente: no</li>
              <li>Bajo consumo: sí</li>
              <li>Consumo (kWh): 0.75</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary">Crear</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</main>
{{/partial}}

{{>layout.hbs}}