<!DOCTYPE html>
<html>
<head>
	<title>Sistema de Gestión Energética</title>
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>
<body>
  <div class="sge-container-top">
    <a href="./">
      <img class="sge-logo" src="../resources/imgs/logo-invert.png">
    </a>
    <h1 class="sge-text center-text sge-title-text">
      Sistema de Gestión Energética
    </h1>
  </div>

  <div class="sge-body">
    <p class="sge-text sge-body-text"> 
      Hoy en día, la escasez de energía viene pisando más fuerte que nunca. Alguna vez te preguntaste cuánta energía derrochás sin siquiera saberlo? 
    </p>
    <p class="sge-text sge-body-text">
      SGE es una plataforma que te permite manejar mejor los dispositivos de tu hogar a través de un útil optimizador! Además, podés llevar un mejor recuento de tus gastos energéticos con nuestro visualizador de consumo.
    </p>
    <button type="button" class="login-button">
      Iniciar sesión
    </button>
  </div>

  <div class="sge-bottom">
    <p class="sge-text sge-bottom-text">
      No estás registrado?
      <a href="./"> Registrate gratis acá!>
    </p>
  </div>

</body>
</html>