<!DOCTYPE html>
<!-- saved from url=(0051)https://getbootstrap.com/docs/4.1/examples/pricing/ -->
<html lang="en"><style type="text/css" id="night-mode-pro-style"></style><link type="text/css" rel="stylesheet" id="night-mode-pro-link"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="../CSS/user.css">

  <!-- Bootstrap core CSS -->
  <link href="../resources/bootstrap/Pricing example for Bootstrap_files/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../resources/bootstrap/Pricing example for Bootstrap_files/pricing.css" rel="stylesheet">
  <title>Sistema de Gestión Energética</title>
  <link rel="icon" href="../resources/imgs/ditto.png">
</head>

<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="."><img src="../resources/imgs/logo.png" class="sge-logo"></a>
    <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <div class="row">
        <a class="p-2 text-dark" href="https://google.com"><h1 style="color:#717171;"><img style="padding:15px; width:100px; height:100px;"
          src="http://tanatos.cl/wp-content/uploads/2015/10/hogares.png"
          alt="SGE" /> Mi Hogar 
        </h1> 
      </a>
      <a class="p-2 text-dark" href="https://google.com">
        <h1 style="color:#717171;"><img style="padding:15px; width:100px; height:100px;" 
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIoeXqhg2tMzdJ_FOKG93m4EG6sRcpw3Wga1EGVJSl5VdQ0Zxe"
          alt="SGE" />Usuario
        </h1> 
      </a>
    </div>
  </nav>
</div>

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2018 Diseño de Sistemas</small>
      </div>
    </div>
  </footer>
</div>


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="./Pricing example for Bootstrap_files/jquery-3.3.1.slim.min.js.descarga" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="./Pricing example for Bootstrap_files/popper.min.js.descarga"></script>
      <script src="./Pricing example for Bootstrap_files/bootstrap.min.js.descarga"></script>
      <script src="./Pricing example for Bootstrap_files/holder.min.js.descarga"></script>
      <script>
        Holder.addTheme('thumb', {
          bg: '#55595c',
          fg: '#eceeef',
          text: 'Thumbnail'
        });
      </script>


    </body>
    </html>
