{{#partial "contenido"}}

<div class="container tools-padding">
  <div class="card-deck mb-2 text-center">
    <div class="mb-4">
      <div>
        <h3 class="my-0 font-weight-normal">Resultado del optimizador</h3>
        <p> 
          {{#resultado}}
            {{this}} <br>
          {{/resultado}}
        </p>
      </div>
      <div class="card-body">
        <p>Nuestro optimizador emplea el método símplex, un algoritmo de resolución de problemas de programación lineal que busca optimizar una función objetivo, de forma que esta función está sujeta a ciertas condiciones.</p>
        <p>En nuestro caso, nuestro objetivo es que puedas maximizar el uso de tus dispositivos en base a los límites de uso puestos para los mismos.</p>
        <p>Para más información respecto al mismo, podés ver una explicación más detallada<a href="https://www.google.com.ar/search?ei=JIfSW8CuN8acwATqvJiwAg&q=the+answer+to+life+the+universe+and+everything&oq=the+answer+&gs_l=psy-ab.3.0.0l10.99664.101658.0.102329.11.8.0.3.3.0.153.991.2j6.8.0....0...1c.1.64.psy-ab..0.11.1003...0i131k1j0i67k1.0.GXFjNuHpQHE"> acá!</a></p>
      </div>
    </div>
  </div>
</div>

{{/partial}}

{{>layout.hbs}}