

{{#partial "contenido"}}

<div class="container tools-padding">
  <div class="card-deck mb-2 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Optimizador</h4>
      </div>
      <div class="card-body">
        <p>Obtené la mejor combinación posible para el uso de tus dispositivos, así podés aprovecharlos al máximo, ¡y consumir lo menos posible!</p>
        <form action="/optimizador" method="GET">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Optimizar</button>
        </form>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Visualizador de consumo</h4>
      </div>
      <div class="card-body">
        <p>¿Querés saber cuánto consumiste el mes pasado? Con el visualizador de consumo podés chequear tu consumo en un período determinado.</p>
        <form action="/consumo" method="GET">
        	<button type="submit" class="btn btn-lg btn-block btn-primary">Ver consumo</button>
        </form>
      </div>
    </div>
  </div>
</div>	

{{/partial}}

{{>layout.hbs}}
