<style>
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
body {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
	right: 0;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    background-color: #0069d9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	right: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	 right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0069d9;
}
</style>
	<script type="text/javascript">
	$( document ).ready(function() {
		mapa = L.map('mapa', {
		center: [-34.598313, -58.463745],
		zoom: 10,  
		minZoom: 4,
		maxZoom:17,
		zoomControl:true 
		});
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: ''}).addTo(mapa);
	}
	</script>
	<script type="text/javascript">
	$( document ).ready(function() {
		mapa = L.map('mapa', {
	    center: [-34.598313, -58.463745],
	    zoom: 10,  
	    minZoom: 4,
	    maxZoom:17,
	    zoomControl:true 
		});
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	    attribution: ''}).addTo(mapa);

		var polygon = L.polygon([
				[-34.697878, -58.468897],
			    [-34.686919, -58.486813],
			    [-34.651905, -58.530758],
			    [-34.614052, -58.529385],
			    [-34.552432, -58.499172],
			    [-34.533202, -58.46484],
			    [-34.582965, -58.381756],
			    [-34.634075, -58.35159],
			    [-34.65924, -58.418313]
			],{
				 color: 'red',
				 fillColor: 'blue',
			    fillOpacity: 0.1,
			    radius: 500
			}).addTo(mapa).on('click', onMapClick);
		function onMapClick(e) {
		    alert("Latitud y Longitud: " + e.latlng);
		}
	});
	function onClick(e){
		var r = confirm("Ir a medrano?");
		if (r == true) {
			mapa.setView(new L.LatLng((-34.598494), (-58.420186)), parseInt(17));
		} else {
		    
		}
	}
</script>

{{#partial "contenido"}}

<div class="container">
		<div class="row">
			<div class="panel-body" style="background-color: #FFFFFF;height: 100%;">
				<div class="row">
					<div class="col-lg-12" style="height: 100%;">
						<div class="row">				
							<div class="col-sm-6" style="padding-top:10px;">
								<div style="border:3px;padding-left:10px;">
									<h1>Transformador
										<div class="dropdown" align="right" style="padding-left:60px;">
										  <button class="dropbtn" data-toggle="tooltip" title="Selecciona una Zona">Zona</button>
										  <div class="dropdown-content">
											<h6>
											<a href="#">CABA</a>
											<a href="#">C.A.B.A</a>
											<a href="#">Ciudad Autonoma de Buenos Aires</a>
											</h6>
										  </div>
										</div>
									</h1>
								</div>								
								<div style="border:3px;padding-left:30px;padding-top:30px;">
									<h2>Fecha Inicio:</h2>
								</div>
								<div style="border:3px;padding-left:30px;padding-top:10px;">
									<form action="/action_page.php">									  
									  <input type="date" name="bday">
									</form>
								</div>
								<div style="border:3px;padding-left:30px;padding-top:10px;">									
									<h2>Fecha Fin:</h2>
								</div>
								<div style="border:3px;padding-left:30px;padding-top:10px;">
									<form action="/action_page.php">									  
									  <input type="date" name="bday">
									</form>
								</div>
								<div style="border:3px;padding-left:30px;padding-top:100px;">
									<button type="button" class="btn btn-lg btn-block btn-primary">Obtener Consumo</button>
								</div>
							</div>
							<div class="col-sm-6" style="padding-top:10px;">
								<div style="border:3px;padding-left:30px;">
									<h4>El consumo en el transformador de la zona {{zona.nombre}} 
									fue de {{zona.consumo}} en el periodo de  a  </h4>
								</div>
								<div style="border:3px;padding-left:30px;">
									<div id="mapa" style="height: 500px">
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>	
</div>
{{/partial}}

{{>layout.hbs}}