.username-unavailable {
  font-size: 15px;
  font-weight: 700;
  color: red;
}

.error{
	color: red;
}

.inline {
	display: inline-block;
}

.hogar-button {
	padding: 15px;
	width: 100px;
	height: 100px;	
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.user-button {
	padding: 15px;
	width: 100px;
	height: 100px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.admin-button {
	padding-top: 2px;
	padding-bottom: 2px;
}

.volver-button {
	padding-top: 30px;
}