.goback {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  margin: auto;
}

.standard-button {
  padding-top: 25px;
}

.sge-logo{
  display: block;
  max-width: 25%;
  max-height: 25%;
  margin-left: 20%;
  margin-right: auto;
}

.sge-logo-home{
  padding-top: 30px;
  display: block;
  max-width: 35%;
  max-height: 35%;
  margin-left: auto;
  margin-right: auto;
}

.username-unavailable {
  font-size: 15px;
  font-weight: 700;
  color: red;
}

.error{
  color: red;
}

.inline {
  display: inline-block;
}

.hogar-button {
  padding: 15px;
  width: 100px;
  height: 100px;  
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

.user-button {
  padding: 15px;
  width: 100px;
  height: 100px;
  padding-left: 15px;
  margin-left: 50;
  margin-right: auto;
}

.admin-button {
  padding-top: 2px;
  padding-bottom: 2px;
}

.volver-button {
  padding-top: 30px;
}

.register-link{
  color: lightblue;
  text-decoration: underline;
}